@media (max-width: 768px) {
    .footer {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    /* GUIDE SECTION SLIDER RESPONSIVE */
    .guideSection-slider-wrapper {
        width: 90%; 
        height: auto; 
    }

    .guideSection-image-slider {
        width: calc(100% * 5); /* Tổng chiều rộng cho 5 slides */
    }

    .guideSection-image-card {
        width: 100%; /* Mỗi slide chiếm 100% của container */
        height: auto;
    }
    .guideSection-h {
        padding-top: 1rem;
    }
    .guideSection-cont {
        padding: 1rem 0rem;
    }
    /* Slider Buttons */
    .guideSection-slider-prev-btn,
    .guideSection-slider-next-btn {
        align-items: center;
        justify-content: center;
        display: flex;
        width: auto;
        height: auto;
        font-size: 1.5rem;
        top: 35%;
    }
    .guideSection-slider-prev-btn {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-right: 1rem;
        
        left: 1%;
    }
    .guideSection-slider-next-btn {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 1rem;
        right: 1%;
    }
    /* Footer Responsive */
    .footer .footer-cont {
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    .footer .footer-cont p:last-child {
        padding-bottom: 1rem;
    }
    .footer .footer-adress,
    .footer .footer-payment {
        width: 100%;
        text-align: center;
    }

    .footer .footer-icon {
        padding: 0px;
        justify-content: space-between;
        width: 50%;
    }
    .footer .footer-cont p,
    .footer .footer-cont h3,
    .footer .footer-cont h4 {
        text-align: left;
    }
    .footer .footer-icon a {
        box-sizing: border-box;
        padding-bottom: 1rem;
       
    }
    .footer .footer-contact {
        align-items: flex-start;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
    }
    .footer-contact h3 {
        width: 100%;

    }
    .footer .footer-cont {
        padding: 0px;
    }


}



@media (min-width: 769px) and (max-width: 1024px) {

    .guideSection-slider-wrapper {
        width: 100%;
    }
    .footer .footer-cont {
        width: 98%;
    }

    .footer .footer-cont h3 {
        font-size: 0.9rem;
    }







}