
.product-all-cont {
    margin-top: 5rem;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
#products-container {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    padding: 20px;
    justify-items: center;
}


.product {
    width: 100%; 
    max-width: 200px; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.product img {
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
    margin-bottom: 10px;
}


.product span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}


.product p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
}


.product:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
